
.icon-book-open:before { content: '\e800'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
